<div id="got-battles" class="page-layout carded fullwidth" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-cube-outline"></md-icon>
          <span>Battles</span>
        </div>
        <div class="hub-count secondary-text">
          <span>Total Battles:</span>
          <span>{{vm.Battles_length}}</span>
        </div>
      </div>

      <div class="search" layout="row" layout-align="start center" flex>
        <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
        <input id="got-battles-search" class="search-input" type="text" placeholder="Search"
               flex>
      </div>
    </div>


    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content-card fullpage-datatable" layout="column" flex>

        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
               dt-options="vm.dtOptions">
          <thead>
          <tr>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Name</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Attacker King</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Defending King</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Location</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Region</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="battle in vm.Battles" ng-value="battle" ng-click="vm.gotobattleDetail($event,battle)">
            <td>{{battle.name}}</td>
            <td>{{battle.attacker_king}}</td>
            <td>{{battle.defender_king}}</td>
            <td>{{battle.location}}</td>
            <td>{{battle.region}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->


    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
